canvas {
	/*border: 3px ridge;*/
	color: white;
}

canvas.image-editor {
	/*margin: -3px;*/ /*Reenable this (and the border) when we've got something to test against on-canvas.*/
	background-color: black;
	width: 100%;
	height: 100%;
	cursor: crosshair;
	cursor: 
		url(data:image/gif;base64,R0lGODlhDwAPAKEAAAAAAP///wAAAAAAACH5BAEKAAIALAAAAAAPAA8AAAIilI+pAqsQmjtQThYvnaCnbkFBZogk4yEgp5Un9zpVy9BTAQA7)
			7 7,
		crosshair;
}